* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Karla, sans-serif;
}

main {
  padding: 36px;
}

.App-header {
  padding: 20px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}

.App-header > img {
  width: 30px;
}

.App-header > h2 {
  font-weight: bold;
  font-size: 20px;
}

.App-header > p {
  margin-left: auto;
  font-size: 12px;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--input {
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  border-radius: 5px;
  font-family: Karla, sans-serif;
}

.form--btn {
  grid-column: 1 / -1;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-family: Karla, sans-serif;
  cursor: pointer;
}

.meme-img {
  max-width: 100%;
}